.input-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.input-container input,
.input-container select {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.input-container label {
  position: absolute;
  font-size: var(--input-label);
  font-weight: 700;
  background-color: white;
  top: -1.2rem;
  left: 1rem;
  z-index: 1;
  padding: 0.5rem;
}