<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/15852b1c-a537-4e4c-83e7-17f0bd033b9b/resourceGroups/metricell_group/providers/Microsoft.Web/sites/metricell</ResourceId>
    <ResourceGroup>metricell_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://metricell.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://metricell.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$metricell</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>